fastapi
uvicorn[standard]
jinja2
httpx
python-dotenv
itsdangerous
python-multipart
sqlalchemy[asyncio]
alembic
aiosqlite
fastui
# git+https://github.com/pydantic/FastUI.git#subdirectory=src/python-fastui
